<a style="display: inline-block" href="{{ $.Site.Params.podcast.itunes_url }}"><img src="/img/subscribe-buttons/apple-podcast.svg"></a>
<a style="display: inline-block" href="https://overcast.fm/itunes{{ $.Site.Params.podcast.itunes_id }}"><img src="/img/subscribe-buttons/overcast.svg"></a>
<!-- <a style="display: inline-block" href="overcast://x-callback-url/add?url=https://o-d-v.ru/feed/mp3/"><img src="/img/subscribe-buttons/pocketcasts.svg"></a> -->
<a style="display: inline-block" href="https://o-d-v.ru/feed/mp3/index.xml"><img src="/img/subscribe-buttons/rss-feed.svg"></a>
